.Cimage{
    width: 100%;
    height: 100vh;
  object-fit: contain;
   

}
.carousel-image-container {
  position: relative;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Adjust text color as needed */
  opacity: 1;
  transition: opacity 0.5s ease; /* Adjust transition timing here */
}

.carousel-item {
  transition: opacity 0.5s ease; /* Adjust transition timing here */
}
#Carousel1,h1{
  font-size: 90px;
  font-weight: 700;
  left: 25%;

  color: rgb(255, 255, 255);
}
#Carousel2,h1{
  font-size: 45px;
  font-weight: 700;
  left: 28%;

  color: rgb(43, 43, 43);
}
.medicarelogo{

  font-weight: 700;
  left: 25%;

  color: rgb(255, 255, 255);
  
}
.care{
  font-weight: 700;
  left: 25%;

  color: rgb(27, 105, 135);
}
#Carousel3,h2{

  font-weight: 700;
  left: 25%;
  font-size: 70px;
  top: 40%;

  color: rgb(255, 255, 255);
}

.carousel-text {
  position: absolute;
  bottom: 20%;
  left: 10%;
  color: white;
}

.carousel-text h1,
.carousel-text h2,
.carousel-text h3 {
  margin: 0;
  text-align: left;
}


.carousel-text h1 {
  font-size: 56px;
  font-weight: 800;
}

.carousel-text h2 {
  font-size: 2.5rem; /* Default size */
}

.carousel-text h3 {
  font-size: 2rem; /* Default size */
}

/* Media Queries for Responsive Font Sizes */
@media (max-width: 768px) {
  .carousel-text h1 {
      font-size: 2.5rem; /* Smaller size for tablets */
  }

  .carousel-text h2 {
      font-size: 2rem; /* Smaller size for tablets */
  }

  .carousel-text h3 {
      font-size: 1.5rem; /* Smaller size for tablets */
  }
}

@media (max-width: 576px) {
  .carousel-text h1 {
      font-size: 2rem; /* Even smaller size for mobile */
  }

  .carousel-text h2 {
      font-size: 1.5rem; /* Even smaller size for mobile */
  }

  .carousel-text h3 {
      font-size: 1.2rem; /* Even smaller size for mobile */
  }
}
.carousel-image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.Cimage {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the container */
}

/* Text positioned absolutely over the image */
.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.carousel-text h1 {
  font-size: 90px;
  font-weight: 800;
}

.carousel-text h3 {
  font-size: 30px;
}

/* Media Queries to reduce font size on smaller screens */
@media (max-width: 768px) {
  .carousel-text h1 {
      font-size: 50px; /* Reduce font size for tablets */
  }

  .carousel-text h3 {
      font-size: 20px; /* Reduce font size for tablets */
  }
}

@media (max-width: 576px) {
  .carousel-text h1 {
      font-size: 35px; /* Reduce font size for mobile */
  }

  .carousel-text h3 {
      font-size: 18px; /* Reduce font size for mobile */
  }
}

